:root {
  --color-accent100: rgba(255, 212, 117, 1);
  --color-accent10: rgba(255, 212, 117, 0.1);
  --color-accent20: rgba(255, 212, 117, 0.2);
  --color-backgound: #f5f5f5;
  --color-surface: rgba(0, 0, 0, 0.08);

  --color-text: #252525;
  --color-title: #000;
  --color-border: rgba(0, 0, 0, 0.12);
  --base-radius: 6px;

  --transition: 0.1s ease-in-out;
}
